.shippingContainer {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
}
.shippingBox {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(255, 255, 255, 0.64);
  width: 400px;
  height: 500px;
  padding: 1em 3em;
  overflow: hidden;
}
.shippingBox > h2 {
  font-weight: bolder;
  text-align: center;
}
.shippingBox > div > button {
  background-color: #eb5757;
  height: 3px;
  width: 50%;
  border: none;
  transition: all 0.5s;
}

.shippingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80%;
  margin: auto;
}

.shippingForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}
.shippingForm > div > select {
  padding: 0.6em 2.5em;
  padding-right: 1em;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.256);
  border-radius: 4px;
}

.shippingForm > div > input {
  padding: 0.6em 2.5em;
  padding-right: 1em;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.256);
  border-radius: 4px;
}
.shippingForm > div > svg {
  position: absolute;
  transform: translateX(0.4em);
  color: rgba(0, 0, 0, 0.652);
}
