.mealsHeading {
  margin: 2em auto;
  text-align: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.171);
  font: 600 2em "Roboto";
  width: 200px;
  padding-bottom: 0.5em;
}
.meals {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 2em;
  justify-content: center;
  margin: auto;
}

.pagination-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterBox {
  width: 200px;
  position: absolute;
  top: 14em;
  left: 2em;
}
.categoryBox > li {
  display: inline-block;
  list-style: none;
  padding: 0.3em 1em;
  width: auto;
  border: 1px solid rgb(212, 211, 211);
  border-radius: 10px;
  margin: 0.5em;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .filterBox {
    width: 20vmax;
    position: static;
    margin: auto;
  }

  .page-link {
    font: 300 1.7vmax "Roboto";
  }
  .category-link {
    font: 400 1.8vmax "Roboto";
  }
}
